* {
  font-size: x-large;
}
.box {
  max-width: 600px;
  margin-top: 115px;
  margin-left: 35%;
  padding: 35px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 227, 127);
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="submit"]   {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  margin-right: 3px;
  border: 1px solid #c2c1c1;
  border-radius: 4px;
}
.abc{
    font-size: xx-large;
}
